* {
    overflow: visible;
}

#menubar,
nav,
.navbar-nav {
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

h1,
h2,
h3 {

    color: rgb(0, 0, 66);
    font-family: Arial, Helvetica, sans-serif;
}

li,
p {
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cars-images {
    border: 6px solid 1px gray;
    max-width: fit-content;
}

#car_banner {
    transition: transform 0.5s ease;
}

#car_banner:hover {
    transform: scale(1.1);
}


@keyframes flip {
    0% {
        transform: perspective(600px) rotateY(0deg);
    }

    100% {
        transform: perspective(600px) rotateY(180deg);
    }
}

.cars-images img {
    transition: transform 1s;
}

.moving_creta:hover {
    animation: flip 1s forwards;
}

.verna_interior:hover {
    animation: flip 1s forwards;
    animation-delay: 0.2s;
}

.ioniqelectric:hover {
    animation: flip 1s forwards;
    animation-delay: 0.4s;
}

.alcazar:hover {
    animation: flip 1s forwards;
    animation-delay: 0.6s;
}

#contact-base {
    color: rgb(0, 0, 66);
    background: rgb(190, 188, 188);
    bottom: 0;
}


#smartsense_section {
    background: rgb(255, 111, 0);
    color: whitesmoke;
}

#infotainment-section {
    background: rgb(255, 196, 0);
    color: whitesmoke;
}

footer,
div>h5 {
    background: rgb(0, 0, 57);
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
